<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<style type="text/css">
  #cvsoccer {width: 300px;}

  img.right {
  margin:.5em;
  border:0;
  float: right;
  }
</style>

<title>
CV Invitational Soccer Lotto
</title>
</head>

<body>

<p>
<img src="/images/cv-soccer.jpg" 
alt="CV Inviational Soccer" 
class="right" 
id="cvsoccer"
/>
</p>

<h1>CV Invitational Soccer Lotto</h1>

<!-- WHITE TEAM roster -->
<b>WHITE TEAM:</b>
<pre>
{% for player in team_white -%}
{{ player }}
{% endfor -%}
</pre>
<!-- DARK TEAM roster -->
<b>DARK TEAM:</b>
<pre>
{% for player in team_dark -%}
{{ player }}
{% endfor -%}
</pre>
<!-- Field selection -->
<b>FIELD SELECTION:</b> {{ field_selection }} <br /><br />
<form method="post" action="/">
Enter Roster (one player per line) <br />
<textarea name="roster", id="textarea", cols="60", rows="20"></textarea>
<br />
<input type="submit", value="Generate">
</form>
</body>
</html>
{% endautoescape %}
